<!DOCTYPE html>
{% load custom_filters %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>


<style>
   table {
    width: 100%; /* Ширина таблицы */
    background: white; /* Цвет фона таблицы */
    border-spacing: 1px; /* Расстояние между ячейками */
   }
   td, th{
    text-align: left; /* Выравниваем текст по центру ячейки */
    background: ffff; /* Цвет фона ячеек */
    padding: 7px; /* Поля вокруг текста */
   }


</style>
<a href="http://127.0.0.1:8000/admin">adminka</a>
<body>
<table>
    <tr>
        <th>Дата платежа</th>
        <th>Статус</th>
        <th>Перевод</th>
        <th>Сумма переводов</th>
        <th>Остаток</th>
    </tr>
    {% for score in scores %}
    <tr>
        <td>{{ score.date_score }}</td>
        <td>{{ score.payment_status }}</td>
        <td>{{ score.monthly_payment }}</td>
        <td>{{ score.total_payment }}</td>
        <td>{{ score.leftover }}</td>
    </tr>
    {% endfor %}
</table>
</body>

